<p id="notice"><%= notice %></p>

<p>Name: <%= @store.name %></p>

<p>Address: <%= @store.address %></p>

<p>Longitude: <%= @store.longitude %></p>

<p>Latitude: <%= @store.latitude %></p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
