<!DOCTYPE html>
<html>
<head>
  <title>Bodyarmor</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "skins/carousel/skin" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
  <%= javascript_include_tag :defaults, "jquery.min", "jquery.tmpl.min", "jquery.jcarousel.min", "map", "videos", "twitter" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>
</body>
</html>
